/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';
.toast-success {
    opacity: 1 !important;
    background-color: #51A351 !important;
}
.toast-error {
    opacity: 1 !important;
    background-color: #BD362F !important;
}